/* Inicio de la seccion Header */
/* colors 2 60 64 - 223 243 228 - 146 180 244*/
/* fonts 'Oswald', sans-serif; 'Oxygen', sans-serif;*/

header {
    background-image: linear-gradient(to right, rgb(02, 60, 64), rgb(2, 44, 83));

    .header-logo__img {
        margin: 25px;
      }
  }

  .header_li {
    color: rgb(223,243,228);
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 10px; 
    padding: 15px; 
    transition: all, 0.3s;

  }
  
  .header_li:hover {
    background-color: rgb(223,243,228);
    color: rgb(02, 60, 64);
    border-radius: 20px;
  }
  
  #nav-button {
    background-color: rgb(223,243,228);
    margin: 20px;  
  }

  @media (max-width: 768px) {
    .header-logo__img {
      content: url(../imagenes/logo1.jpg)
    }      
}


.main {
    background-color: rgb(223,243,228);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas: 
    'offroad'
    'furniture'
    'service';
  }
  
  .text-center {
    align-self: center;
  }
  
  .section-off {
    display: grid;
    grid-area: offroad;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 20px;

    .div-off__text {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
      
      .div-off__link {
        grid-row: 2 / 3;
        grid-column: 1 / 2;  
        transition: all, 0.3s;
        &:hover {
            transform: rotate(30deg);
          }
      }
      
      
      
      .div-off__img1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        margin: 1rem;
      }
      
      .div-off__img2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin: 1rem;
      }
      
      .off-title {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        color: rgb(51, 00,54);
      }
      
      .off-paragraf {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: rgb(51, 00,54);
      }
      
      .off__img1 {
        max-width: 100%;
      }
      
      .off__img2 {
        max-width: 100%;
      }
      .div-off__text {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
      
      .div-off__link {
        grid-row: 2 / 3;
        grid-column: 1 / 2;  
        transition: all, 0.3s;
        &:hover {
            transform: rotate(30deg);
          }
      }
      
      
      
      .div-off__img1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        margin: 1rem;
      }
      
      .div-off__img2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin: 1rem;
      }
      
      .off-title {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        color: rgb(51, 00,54);
      }
      
      .off-paragraf {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: rgb(51, 00,54);
      }
      
      .off__img1 {
        max-width: 100%;
      }
      
      .off__img2 {
        max-width: 100%;
      }
      .div-off__text {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
      
      .div-off__link {
        grid-row: 2 / 3;
        grid-column: 1 / 2;  
        transition: all, 0.3s;
        &:hover {
            transform: rotate(30deg);
          }
      }
      
      
      
      .div-off__img1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        margin: 1rem;
      }
      
      .div-off__img2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin: 1rem;
      }
      
      .off-title {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        color: rgb(51, 00,54);
      }
      
      .off-paragraf {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: rgb(51, 00,54);
      }
      
      .off__img1 {
        max-width: 100%;
      }
      
      .off__img2 {
        max-width: 100%;
      }    
  }
    
  .section-furn {
    display: grid;
    grid-area: furniture;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 20px;

    .div-furn__text {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      
      .div-furn__link {
        grid-row: 2 / 3;
        grid-column: 2 / 2;
        transition: all, 1s;
        &:hover {
            transform: rotate(360deg);
          }
      }
      
      
      
      .div-furn__img1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        margin: 1rem;
      }
      
      .div-furn__img2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        margin: 1rem;
      }
      
      .furn-title {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        color: rgb(51, 00,54);
      }
      
      .furn-paragraf {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: rgb(51, 00,54);
      }
      
  }
  
  
  .section-serv {
    display: grid;
    grid-area: service;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 20px;

    .div-serv__text {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
      
      .div-serv__link {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        transition: all, 0.5s;
        &:hover {
            transform: rotatex(40deg);
          }
      }
      
      .div-serv__img1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        margin: 1rem;
      }
      
      .div-serv__img2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin:1rem;
      }
      
      .serv-title {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        color: rgb(51, 00,54);
      }
      
      .serv-paragraf {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: rgb(51, 00,54);
      } 
  }
  
  @media (max-width: 1023px) {
    .section-off {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 1fr);
      align-content: center;
    }
  
    .div-off__text {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  
    .div-off__link {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
  
    .div-off__img1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin: 1rem;
    }
  
    .off__img1 {
      max-width: 100%;
    }
  
    .div-off__img2 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      margin: 1rem;
    }
  
    .off__img2 {
      max-width: 100%;
    }
  
    .section-furn {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 1fr);
      align-content: center;
    }
    
    .div-furn__text {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
    
    .div-furn__link {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
    
    .div-furn__img1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin: 1rem;
    }
  
    .furn__img1 {
      max-width: 100%;
    }
    
    .div-furn__img2 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      margin: 1rem;
    }
  
    .furn__img2 {
      max-width: 100%;
    }
  
    .section-serv {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 1fr);
      align-content: center;
    }
    
    .div-serv__text {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  
    .div-serv__link {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
  
    .div-serv__img1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin: 1rem;
    }
  
    .serv__img1 {
      max-width: 100%;
    }
  
    .div-serv__img2 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      margin: 1rem;
    }
  
    .serv__img2 {
      max-width: 100%;
    }
  }