.main-contact {
    background-color: $primary;
  }
  
  .contact {
    @include letter($letter-main, $text-lg, $paragraph);
    text-align: center;
  }
  
  .text {
    @include letter($letter-main, $text-md, $paragraph);
    text-align: center;
    margin: map-get($map: $size, $key: 'rems' );
  }
  
  .other {
    margin: map-get($map: $size, $key: 'rems' );
    &-contact {
        align-content: center;
        padding: map-get($map: $size, $key: 'rems' );
        animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
  }
  
  @keyframes move {
    0% {
      transform: translateX(-10%);
    }
  
    50% {
      transform: translateX(10%)
    }
  
    100% {
      transform: translateX(-10%)
    }
  }
  
  .letter {
    text-align: center;
    @include letter($letter-main, $text-md, $paragraph);
    align-content: center;
    padding: map-get($map: $size, $key: 'rem' );
    }