.main-contact {
    background-color: $primary;
  }
  
  .contact {
    font-family: $letter-main;
    font-size: $text-lg;
    color: $paragraph;
    text-align: center;
  }
  
  .text {
    font-family: $letter-main;
    font-size: $text-md;
    color: $paragraph;
    text-align: center;
    margin: 2rem;
  }
  
  .other {
    margin: 2rem;
    &-contact {
        align-content: center;
        padding: 2rem;
        animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
  }
  
  @keyframes move {
    0% {
      transform: translateX(-10%);
    }
  
    50% {
      transform: translateX(10%)
    }
  
    100% {
      transform: translateX(-10%)
    }
  }
  
  .letter {
    text-align: center;
    font-family: $letter-main;
    color: $paragraph;
    align-content: center;
    padding: 1rem;
    }