.main {
    background-color: $primary;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas: 
    'offroad'
    'furniture'
    'service';
  }
  
  .text-center {
    align-self: center;
  }
  
  .section-off {
    @include grid (grid, 2, 2);
    grid-area: offroad;
    @include order (center, center, center);
    margin: map-get($map: $size, $key: 'px' );
  }
  
  .div-off__text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  
  .div-off__link {
    grid-row: 2 / 3;
    grid-column: 1 / 2;  
    transition: all, 0.3s;
    
    &:hover {
        transform: rotate(30deg);
      }
  }
  
  .div-off__img1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: map-get($map: $size, $key: 'rem' );
  }
  
  .div-off__img2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: map-get($map: $size, $key: 'rem' );
  }
  
  .off-title {
    @include letter($letter-main, $text-lg, $paragraph)
  }
  
  .off-paragraf {
    @include letter($letter-main, $text-md, $paragraph)
  }
  
  .off__img1 {
    max-width: 100%;
  }
  
  .off__img2 {
    max-width: 100%;
  }
  
  .section-furn {
    @include grid (grid, 2, 2);
    grid-area: furniture;
    @include order (center, center, center);
    margin: map-get($map: $size, $key: 'px' );
  }
  
  .div-furn__text {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  
  .div-furn__link {
    grid-row: 2 / 3;
    grid-column: 2 / 2;
    transition: all, 1s;
    &:hover {
        transform: rotate(360deg);
      }
  }
    
  .div-furn__img1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: map-get($map: $size, $key: 'rem' );
  }
  
  .div-furn__img2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: map-get($map: $size, $key: 'rem' );
  }
  
  .furn-title {
    @include letter($letter-main, $text-lg, $paragraph)
  }
  
  .furn-paragraf {
    @include letter($letter-main, $text-md, $paragraph)
  }
  
  .section-serv {
    @include grid (grid, 2, 2);
    grid-area: service;
    @include order (center, center, center);
    margin: map-get($map: $size, $key: 'px' );
  }
  
  .div-serv__text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  
  .div-serv__link {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    transition: all, 0.5s;
    &:hover {
        transform: rotatex(40deg);
      }
  }
   
  .div-serv__img1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: map-get($map: $size, $key: 'rem' );
  }
  
  .div-serv__img2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: map-get($map: $size, $key: 'rem' );
  }
  
  .serv-title {
    @include letter($letter-main, $text-lg, $paragraph)
  }
  
  .serv-paragraf {
    @include letter($letter-main, $text-md, $paragraph)
  }
  
  @media (max-width: 1023px) {
    .section-off {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 1fr);
      align-content: center;
    }
  
    .div-off__text {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  
    .div-off__link {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
  
    .div-off__img1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin: map-get($map: $size, $key: 'rem' );
    }
  
    .off__img1 {
      max-width: 100%;
    }
  
    .div-off__img2 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      margin: map-get($map: $size, $key: 'rem' );
    }
  
    .off__img2 {
      max-width: 100%;
    }
  
    .section-furn {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 1fr);
      align-content: center;
    }
    
    .div-furn__text {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
    
    .div-furn__link {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
    
    .div-furn__img1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin: 1rem;
    }
  
    .furn__img1 {
      max-width: 100%;
    }
    
    .div-furn__img2 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      margin: map-get($map: $size, $key: 'rem' );
    }
  
    .furn__img2 {
      max-width: 100%;
    }
  
    .section-serv {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 1fr);
      align-content: center;
    }
    
    .div-serv__text {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  
    .div-serv__link {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
  
    .div-serv__img1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin: map-get($map: $size, $key: 'rem' );
    }
  
    .serv__img1 {
      max-width: 100%;
    }
  
    .div-serv__img2 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      margin: map-get($map: $size, $key: 'rem' );
    }
  
    .serv__img2 {
      max-width: 100%;
    }
  }
  