.main-furniture {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    background-color: $primary;
    justify-content: center;
  }
  
  .section-furniture {
    flex-direction: column;
    width: 500px;
    padding: 2rem;
    justify-content: center;
  }
  
  .img-furn {
    max-width: 100%;
  }
  
  .furn-text {
    @include letter($letter-main, $text-md, $paragraph);
    text-align: center;
    margin: 2rem;
  }