.main-off {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    background-color: rgb(223,243,228);
    justify-content: center;
  }
  
  .sec-bid {
    flex-direction: column;
    width: 500px;
    padding: 2rem;
    justify-content: center;
  }
  
  .sec-prot {
    flex-direction: column;
    width: 500px;
    padding: 2rem;
    justify-content: center;
  }
  
  .sec-pala {
    flex-direction: column;
    width: 500px;
    padding: 2rem;
    justify-content: center;
  }
  
  .img-bid1 {
    margin: 0.2rem;
    padding: 1rem;
    width: 500px;
    max-width: 100%;
  }
  
  .img-bid2 {
    margin: 0.2rem;
    padding: 1rem;  
    width: 500px;
    max-width: 100%;
  }
  
  .img-bid3 {
    margin: 0.2rem;
    padding: 1rem;
    width: 500px;
    max-width: 100%;
  }
  
  .img-prot1 {
    margin: 0.2rem;
    padding: 1rem;
    width: 500px;
    max-width: 100%;
  }
  
  .img-prot2 {
    margin: 0.2rem;
    padding: 1rem;
    width: 500px;
    max-width: 100%;
  }
  
  .img-prot3 {
    margin: 0.2rem;
    padding: 1rem;
    width: 500px;
    max-width: 100%;
  }
  
  .img-pala1 {
    margin: 0.2rem;
    padding: 1rem;
    width: 500px;
    max-width: 100%;
  }
  
  .img-pala2 {
    margin: 0.2rem;
    padding: 1rem;
    width: 500px;
    max-width: 100%;
  }
  
  .img-pala3 {
    margin: 0.2rem;
    padding: 1rem;
    width: 500px;
    max-width: 100%;
  }