.main-off {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    background-color: $primary;
    justify-content: center;
  }
  
  .sec-bid {
    flex-direction: column;
    width: 500px;
    padding: map-get($map: $size, $key: 'rems' );
    justify-content: center;
  }
  
  .sec-prot {
    @extend .sec-bid;
  }
  
  .sec-pala {
    @extend .sec-bid;
  }
  
  .img-bid1 {
    margin: 0.2rem;
    padding: map-get($map: $size, $key: 'rem' );
    width: 500px;
    max-width: 100%;
  }
  
  .img-bid2 {
    @extend .img-bid1;    
    border-radius: 20%;
  }
  
  .img-bid3 {
    @extend .img-bid1;
  }
  
  .img-prot1 {
    @extend .img-bid1;
    border-radius: 20%;
  }
  
  .img-prot2 {
    @extend .img-bid1;
  }
  
  .img-prot3 {
    @extend .img-bid1;
    border-radius: 20%;
  }
  
  .img-pala1 {
    @extend .img-bid1;
  }
  
  .img-pala2 {
    @extend .img-bid1;
    border-radius: 20%;
  }
  
  .img-pala3 {
    @extend .img-bid1;
  }