.main-service {
    background-color: $primary;
  }
  
  .serv-text {
    align-self: center;
    justify-content: center;
  }
  
  .ser-title {
    @include letter($letter-main, $text-lg, $paragraph);
    text-align: center;
    padding: map-get($map: $size, $key: 'rems' );
    justify-content: center;
  }
  
  .ser-paragraf {
    @include letter($letter-main, $text-md, $paragraph);
    text-align: center;
    margin: map-get($map: $size, $key: 'rems' );
  }