.main-service {
    background-color: rgb(223,243,228);
  }
  
  .serv-text {
    align-self: center;
    justify-content: center;
  }
  
  .ser-title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: rgb(51, 00,54);
    text-align: center;
    padding: 2rem;
    justify-content: center;
  }
  
  .ser-paragraf {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(51, 00,54);
    text-align: center;
    margin: 2rem;
  }