.main-service {
    background-color: $primary;
  }
  
  .serv-text {
    align-self: center;
    justify-content: center;
  }
  
  .ser-title {
    font-family: $letter-main;
    font-size: $text-lg;
    color: $paragraph;
    text-align: center;
    padding: 2rem;
    justify-content: center;
  }
  
  .ser-paragraf {
    font-family: $letter-main;
    font-size: $text-md;
    color: $paragraph;
    text-align: center;
    margin: 2rem;
  }