/* Footer */

footer {
    background-image: $bg-part
  }
  
  .footer-title {
    font-family: $letter-part;
    font-weight: bolder;
    font-size: $text-md;
    color: $title;
    text-align: center;
  }
  
  .footer-li {
    font-family: $letter-part;
    font-weight: lighter;
    font-size: $text-sm;
    color: $primary;
    text-align: center;

    &:hover {
        background-color: $primary;
        color: $secondary;
        font-weight: bold;
        border-radius: 10px;
      }
  }
  
  .footer-contact {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-copyright {
    grid-column: 1 / 4;
    justify-content: center;
    font-family: $letter-part;
    font-weight: lighter;
    font-size: $text-sm;
    color: $primary;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }