/*HEADER*/

header {
    background-image: $bg-part;     
  }

  .header-logo__img {
    margin: 25px;
  }

  .header_li {
    color: $primary;
    font-family: $letter-part;
    font-size: $text-sm;
    font-weight: bold;
    margin: 10px; 
    padding: 15px; 
    transition: all, 0.3s;
    
    &:hover {
        background-color: $primary;
        color: $secondary;
        border-radius: 20px;
      }
  }
  
  #nav-button {
    background-color: $primary;
    margin: 20px;  
  }

  @media (max-width: 768px) {
    .header-logo__img {
      content: url(../imagenes/logo1.jpg)
    }
  }
  