/*HEADER*/

header {
    background-image: linear-gradient(to right, rgb(02, 60, 64), rgb(2, 44, 83));     
  }

  .header-logo__img {
    margin: 25px;
  }

  .header_li {
    color: rgb(223,243,228);
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 10px; 
    padding: 15px; 
    transition: all, 0.3s;
    
    &:hover {
        background-color: rgb(223,243,228);
        color: rgb(02, 60, 64);
        border-radius: 20px;
      }
  }
  
  #nav-button {
    background-color: rgb(223,243,228);
    margin: 20px;  
  }

  @media (max-width: 768px) {
    .header-logo__img {
      content: url(../imagenes/logo1.jpg)
    }
  }
  